h1{
 	background-color: white;padding: 10px;text-shadow: 1px 1px;display:flex;width:1499px;
 	font-size: 25px;
}
.search {
	padding:0 0 0 100px;
}
.search input{
	font-size: 25px;background-image: url(logo.png);background-repeat: no-repeat;
background-position: right;
}
body{
	font-family: sans-serif;
	background-color:lightgrey;
	background-image: url(paper.jpg);background-size: cover;
	
}
*{
	margin: 0;padding: 0;
}
h2{
	padding: 10px;background-color: black;
	color: white;height: 50px;text-align: center;
	
	opacity: .6;
}
.container{
	display: flex;

}

.first{
background-color: orange;
flex:2;
height: 120px;
}

.sec{
	background-color:grey;
	flex: 2;
	height: 120px;
}

h3{
	font-size: 20px;
	padding: 10px;
	color: white;
	
	
}
.sec h4{

	padding: 10px;
	font-size: 20px;
	color: white;
	height: 70px;
	
}
h5{
	font-size: 25px;
	
	background-color: black;
	width: 300px;
	color: white;
	padding: 20px;

}
.third{
margin: 25px;
color: white;
font-size: 25px;

}
footer{
background-color:black;
height: 52px;
}
