body{
	background-image: url(bio1.jpg);
	background-size: cover;
	font-family:sans-serif;

	
}
h1{
 	background-color: white;padding: 10px;text-shadow: 1px 1px;display:flex;width:1515px;
 	font-size: 25px;
}
*/*represent whole body and to make margin and padding zero*/
{
	margin: 0;padding: 0;
}
.search {/*this is the text box in our header */
	padding:0 0 0 100px;
}
.search input{/*we have added a image for seacrh icon*/
	font-size: 25px;background-image: url(logo.png);background-repeat: no-repeat;
background-position: right;
}


a{
 	display: flex;align-items: center;/* justifying our content in centre and displayig flex our */
 	text-decoration: none; 
 	justify-content: center;
 	height: 50px;background-color:lightgrey;
 	color: black;
 	font-size: 20px;
 	padding: 2px 5px;
 	font-weight: bold;
 	opacity: .6;
 	width: 96%;

}
.first a:hover{
	background-color:grey;/*add hover effect in our navigation bar with grey colour in display*/
}
.first ul{
	list-style: none;/*displaying flex to our unorder list*/
	display: flex;	
}
.first ul li{/* the positin to make it fix with text aligning center*/
	position: relative;width:98%;
	text-align:center; 
	
} 
.first li:hover .menu li{/*displaying block to the list and giving it the hover effect to touch the element*/ 
	display: block; 
}
.menu li{/*displaying none so that only on the click the display can be done*/
	display: none;

}


.menu ul{    /*giving flex to the menu class for row display*/
	display: flex;
	flex-direction: column;
	width:90%;
}
h2{/*contain header with text shadow*/

	padding: 10px;
	text-shadow:1px 1px;
}
h3{/*contain header with transarency*/
	text-align: center;padding: 20px;background-color: black;
	opacity: 0.6;color:white;
	font-size: 25px;
	width:50%;
}
.fir{/* displaying flex for the image and discription*/
	display: flex;
}
.fir nav{/*contain written element*/
	padding: 10px;margin: 10px;text-align: center;color: white;
	font-size: 28px;
}
h4{/*conatin header with transparent property*/
	text-align: center;text-shadow: 1px 1px;
	padding: 20px;
	background-color: black;
	opacity: 0.5;font-size: 20px;
	color: white;
	width: 50%;
}
.sec{
	display: flex;
}
.sec nav{/*contain wrtten discription*/
	color: white; text-align: center;
	padding: 2px;
	margin: 7px;
	font-size: 25px;
}
 footer{
background-color:black;
height: 52px;
}
@media screen and (max-width: 600px){/*to make the screen responsive*/
	
	div{flex-direction: column;}
	a{ flex-direction: column; width: 100%; }
	h1 {flex-direction: column; width:96%;}
}
body{/*to avoid the overflow to the x axis*/
	overflow-x: hidden;
}
