body{
	background-image: url(123.jpg);width: 100%;
	height: 100%;
	font-family:sans-serif;
}
h1{
 	background-color: white;padding: 10px;text-shadow: 1px 1px;display:flex;width:1515px;
 	font-size: 25px;
}
*{
	margin: 0;padding: 0;
}
.search {
	padding:0 0 0 100px;
}
.search input{
	font-size: 25px;background-image: url(logo.png);background-repeat: no-repeat;
background-position: right;
}
h2{
	
	padding: 10px;
	text-shadow:1px 1px;
}
h3{
	text-align: center;padding: 20px;background-color: black;
	opacity: 0.6;color:white;
	font-size: 25px;
	width:50%;
}
.first{
	display: flex;
}
.first nav{
	padding: 10px;margin: 10px;text-align: center;color: white;
	font-size: 28px;
}
h4{
	text-align: center;text-shadow: 1px 1px;
	padding: 20px;
	background-color: black;
	opacity: 0.5;font-size: 20px;
	color: white;
	width: 50%;
}
.sec{
	display: flex;
}
.sec nav{
	color: white; text-align: center;
	padding: 2px;
	margin: 7px;
	font-size: 25px;
}
 footer{
background-color:black;
height: 52px;
}