*{/*determine whole body and spaces*/
	margin: 0;padding: 0;
}

body{/*adding up image to the body and transition added whileloading page*/
	background-image: url(review.jpg);
	background-size: cover;
	font-family: sans-serif;

	transition:all 0.5s linear 1s ;
}

a{
 	display: flex;align-items: center;/* justifying our content in centre and displayig flex our */
 	text-decoration: none; 
 	justify-content: center;
 	height: 50px;background-color:lightgrey;
 	color: black;
 	font-size: 20px;
 	padding: 2px 5px;
 	font-weight: bold;
 	opacity: .6;
 	width: 96%;

}
.first a:hover{
	background-color:grey;/*add hover effect in our navigation bar with grey colour in display*/
}
.first ul{
	list-style: none;/*displaying flex to our unorder list*/
	display: flex;	
}
.first ul li{/* the positin to make it fix with text aligning center*/
	position: relative;width:98%;
	text-align:center; 
	font size:25px;
} 
.first li:hover .menu li{/*displaying block to the list and giving it the hover effect to touch the element*/ 

	display: block; 
}
.menu li{/*displaying none so that only on the click the display can be done*/
	display: none;

}

}
.menu ul{    /*giving flex to the menu class for row display*/
	display: flex;
	flex-direction: column;
	width:90%;	
}
h1{
 	background-color: white;padding: 20px;text-shadow: 1px 1px;display:flex;width:1495px;
 	font-size: 25px;
}
.search {
	padding:0 0 0 100px; /*this is the text box in our header */
}
.search input{
	font-size: 25px;background-image: url(logo.png);background-repeat: no-repeat;
background-position: right;/*we have added a image for seacrh icon*/
}
 h2{/*header is given and text shadow as well as the border given at the buttom side*/
	color: black;
	padding:10px;
	border-bottom: 3px solid black;
	width: 500px;
	text-shadow:1px 1px; 
}
.fir{/*this portion is made to provide audio review*/
	margin: 0px;
	background-color: grey;
	width: 900px;
	padding: 10px;
	font-size: px;
	border-radius: 20px 35px 45px 20px;
	height: 70px;
	opacity: 0.6;
}
.sec{/*contain review with the border radius and transition porprty applied*/

	background-color: orange;
	font-size: 35px;
	width: 1200px;
	padding: 10px 0 0 20px;
	margin: 25px;
	border-radius: 20px 35px 45px 20px;
	height: 180px;
	transition:all 0.5s linear 0.3s ;
}
h5{
	text-align: center;
	font-size: 20px;
	
	width: 500px;
}
.third{/*contain review with the border radius and transition porprty applied*/
	padding: 10px;
	background-color: tomato;
	width: 1400px;margin: 50px;
	height: 150px; font-size: 30px;
	border-radius: 20px 35px 45px 20px;
	transition:all 0.5s linear 0.3s ;
	
}
.sec:hover{/*hover effect with white colour while touching and with black box shadow*/
	background-color:white; color:black;box-shadow:8px 8px 8px 8px;

}
.third:hover{/*hover effect with white colour while touching and with box shadow*/
	background-color:white; color:black;box-shadow:8px 8px 8px 8px;
}
@media screen and (max-width: 600px){/*to make responsive according to the screen size*/
	
	 a{ flex-direction: column; width: 100%; }
	div{flex-direction: column;}
	h2{flex-direction: column;width: 96%;}
	h1 {flex-direction: column; width:95%;}
	.sec{flex-direction: column;width:100%;font-size: 10px;padding:7px;
			margin: 0;height: 30px;}
	.fir{flex-direction: column;width:100%;margin: 0;padding: 0px;font-size: 10px;}
	.third{flex-direction: column;width: 100%; font-size: 10px;margin: 0;padding: 7px;}
}
body/*to control the overflow at x drection*/
{
overflow-x: hidden;	
}