body{/*this is to avoid overflow while making it responsive*/
	overflow-x: hidden;
}

*{/*determine whole body and spaces*/
	margin: 0;padding: 0;
}
h1{
 	background-color: white;padding: 10px;text-shadow: 1px 1px;display:flex;width:1400px
 	font-size: 25px;/* the header given flex as to disply title and input box and logo to x axis*/
}
}
.search {
	padding:0 0 0 100px; /*this is the text box in our header */
}
.search input{
	font-size: 25px;background-image: url(logo.png);background-repeat: no-repeat;
background-position: right;/*we have added a image for seacrh icon*/
}
body{
 	background-image: url(home.jpg);width:100%;height: 100%;background-size: cover;
 	font-family:sans-serif;/*a image is added in ab body also with font family*/
 } 

a{
 	display: flex;align-items: center;/* justifying our content in centre and displayig flex our */
 	text-decoration: none; 
 	justify-content: center;
 	height: 50px;background-color:lightgrey;
 	color: black;
 	font-size: 20px;
 	padding: 2px 5px;
 	font-weight: bold;
 	opacity: .6;
 	width: 96%;

}
.first a:hover{
	background-color:grey;/*add hover effect in our navigation bar with grey colour in display*/
}
.first ul{
	list-style: none;/*displaying flex to our unorder list*/
	display: flex;	
}
.first ul li{/* to make list item position fixed in a position and text alisgn center*/
	position: relative;width:98%;
	text-align:center; 
	font size:25px;
} 
.first li:hover .menu li{/*displaying block to the list and giving it the hover effect to touch the element*/ 

	display: block; 
}
.menu li{/*displaying none so that only on the click the display can be done*/
	display: none;

}

}
.menu ul{ /*giving flex to the menu class for row display*/   
	display: flex;
	flex-direction: column;
	width:90%;
}
 h2{/*contain highlights*/
	margin: 0px;
	padding: 80px 0px 0px 10px;
	border-bottom:3px solid black;
	width: 99%;
	font-weight: none;
	display: flex;
	margin: 0;
}
.sec p{/*conatin embed video*/
	padding: 5px 0 0; 
}
.sec section{/*conatin embed video*/
	padding: 5px;
}
.sec{/*displaying flex to embed video*/
display: flex;
}
nav{/*conatin embed video*/
	padding:5px;
}

 h3{/*conatin sports*/
	padding: 15px 0px 0px 10px;
	border-bottom:3px solid black;
	width:99%;
	font-size: 20px;
	font-weight:bold;

}
.third{   /*displaying flex to embed video*/
	display: flex;
}
.third section{/*conatin embed video*/
	padding: 5px;
}
p{/*conatin embed video*/
	padding: 5px 0px 0px;margin: 0;
}
h4{
	border-bottom: 3px solid grey;text-align: center;
}
.last{/*conatin advertisemnt with written element with transparency*/
	background-color: black;
	
	padding: 0px 0px 0px 0px;
	color: white;
	font-size: 20px;
	opacity: 0.6;
	width:100%;
	line-height: 40px;
}
.end{/*conatin terms and condition with  transparency*/
	text-align: center;

	background-color: black;
	margin:7px 20px 0 0px;
	line-height: 50px;
	padding: 20px 0px 0px 0px;
	color: white;
	width:100%;
	height: 90px;
	opacity: 0.8;
}
.ending {/*TO display the border black line*/
	background-color: black;
	
	width: 100%;
	height:20px;
	margin:0px;

}
@media screen and (max-width: 600px){/*to make the screen responsive*/
	
	 a{ flex-direction: column; width: 100%; }
	div{flex-direction: column;}
	
	h1 {flex-direction: column; width: 100%;}
}

